@define-color primary-background-color rgba(0, 0, 0, 0.25);
@define-color primary-foreground-color white;

* {
  all: unset;
  color: @primary-text-color;
  font-family: "Inter", "Symbols Nerd Font Mono";
  font-size: 14px;
  transition: color 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

#waybar {
  background-color: @primary-background-color;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 4px 8px 4px 8px;
}

#workspaces {
  padding: 0px 8px 0px 8px;
  border-radius: 8px;
  background-color: @primary-background-color;
}

#workspaces button label {
  color: @primary-background-color;
  font-size: 12px;
  min-width: 32px;
}

#workspaces button.active label {
  color: @primary-foreground-color;
}

#clock {
  padding: 0px 16px 0px 16px;
  border-radius: 8px;
  background-color: @primary-background-color;
}

#audio {
  margin-right: 4px;
  padding: 0px 16px 0px 8px;
  border-radius: 8px;
  background-color: @primary-background-color;
}

#pulseaudio {
  font-size: 14px;
  padding: 0px 8px 0px 8px;
}

#pulseaudio:hover {
  color: @primary-background-color;
}

#pulseaudio-slider trough {
  min-width: 100px;
  min-height: 2px;
  border-radius: 1px;
  background-color: @primary-background-color;
}

#pulseaudio-slider highlight {
  border-radius: 1px;
  background-color: @primary-foreground-color;
}

#network {
  font-size: 12px;
  margin: 0px 4px 0px 4px;
  padding: 0px 16px 0px 16px;
  border-radius: 8px;
  background-color: @primary-background-color;
}

#network:hover,
#network.disabled,
#network.disconnected,
#network.linked {
  color: @primary-background-color;
}

#custom-poweroff {
  font-size: 10px;
  margin-left: 4px;
  padding: 0px 16px 0px 16px;
  border-radius: 8px;
  background-color: @primary-background-color;
}

#custom-poweroff:hover {
  color: @primary-background-color;
}
