@define-color bg-color rgba(40, 40, 40, 0.9);
@define-color fg-color rgb(235, 219, 178);
@define-color dark-gray-color rgb(146, 131, 116);

* {
  all: unset;
  color: @fg-color;
  font: 16px "Inter", "Symbols Nerd Font Mono";
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  transition: all 0.25s ease;
}

#waybar > box {
  min-height: 32px;
  padding: 0px 8px;
  background-color: @bg-color;
}

#custom-logo {
  min-width: 32px;
  padding-top: 1px;
}

#custom-logo:hover {
  color: @dark-gray-color;
}

#workspaces > button > box {
  min-width: 32px;
}

#workspaces > button > box > label {
  color: @dark-gray-color;
  font-size: 8px;
}

#workspaces > button.active > box > label {
  color: @fg-color;
}

#network {
  min-width: 32px;
  padding-top: 1px;
}

#network.linked,
#network.disabled,
#network.disconnected {
  color: @dark-gray-color;
}

#network:hover {
  color: @dark-gray-color;
}

#pulseaudio > widget > label {
  min-width: 32px;
  padding-top: 1px;
}

#pulseaudio > widget > label:hover {
  color: @dark-gray-color;
}

.volume {
  padding: 0px 8px;
}

#battery > widget > label {
  min-width: 32px;
  padding-top: 1px;
}

.capacity {
  padding: 0px 8px;
}

#custom-bell {
  min-width: 32px;
  padding-top: 1px;
}

#custom-bell:hover {
  color: @dark-gray-color;
}
